:root {


  --font-family-sans-serif: Merriweather;
  --font-family-monospace: Roboto;


  /* Font Sizes */
  --font-small: 13px; /* */
  --font-taxonomy: 15px; /* */
  --font-listing-description: 17px; /* */
  --font-listing-heading: 22px; /* */
  --font-bodytext: 27px; /*  */
  --font-lead: 35px; /*  */
  --font-small-heading: 27px; /*  */
  --font-regular-heading: 70px; /*  */
  --font-big-heading: 80px; /*  */




  --content-max-width: 1260px;


  /* Kolory */
  --background-color: #f4f2ed;
  --color1: #999595; /* Kalendarium */
  --color2: #48474b; /* Inspiracje */
  --color3: #a9706f; /* Miejsce fotografii*/
  --color4: #798587; /* Zine */
  --color5: #9f8e7f; /* Open call */
  --white: #ffffff;
  --black: #000000;
  --grey: #cccccc;
  --white: #ffffff;


  --content-width: 1260px;
  --content-side-padding: 30px;
}


a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a, p, div, span, h1, h2, h3, h4, h5, h6, body, header {
  color: var(--black);
}

a, p, div, span, body, header {
  font-family: var(--font-family-monospace);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-sans-serif);
}

h3 {
  font-size: var(--font-listing-heading);
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  border: 0;

}

header {
  max-width: var(--content-width);
  text-align: center;
  margin: 0 auto;
  padding: 40px var(--content-side-padding) var(--content-side-padding) var(--content-side-padding);
  display: flex;
  justify-content: space-between;
}

.home {
  justify-content: flex-start;
}
.calendarium {
  justify-content: flex-start;
}
.inspirations {
  justify-content: flex-start;
}
.logo {
  padding: 0 10px;
}
.mf {
  justify-content: flex-end;
}
.zine {
  justify-content: flex-end;
}
.opencall {
  justify-content: right;
}

header * {
  font-size: var(--font-taxonomy);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;


}


header .actuall {
  font-weight: 800 !important;
  text-decoration: underline;
}
header img {
  width: 8px;
  height: 8px;
  bottom: 2px;
  position: relative;
  padding-right: 5px;
}
header img.logo{
  height: 25px !important;
  width: auto;
}
img.logo-white{
  height: 25px !important;
  width: auto;
}


div.hr {
  background-color: var(--grey);
  height: 1px;
  display: block;
  margin: 0 30px;
  margin-bottom: 50px;
  text-align: right;
}
div.hr div.search {
  position: relative;
  bottom: 55px;
}
div.hr div.search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}




/* MAIN CONTAINER */

  /* DEFAULT mobile view */
  #container {
    max-width: var(--content-width);
    text-align: left;
    margin: 0 auto;
    padding: 0 var(--content-side-padding);
  }

  #container div.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);;
    gap: 50px 50px;
    margin-bottom: 50px;
  }
  /* EOF DEFAULT mobile view */



  /* tablet view */
  @media screen and (min-width: 600px) {

    #container {
      max-width: var(--content-width);
      text-align: left;
      margin: 0 auto;
      padding: 0 var(--content-side-padding);
    }

    #container div.grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 50px;
      margin-bottom: 50px;
    }

  }
  /* EOF tablet view */



  /* desktop view */
  @media only screen and (min-width: 900px) {

    #container {
      max-width: var(--content-width);
      text-align: left;
      margin: 0 auto;
      padding: 0 var(--content-side-padding);
    }

    #container div.grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px 50px;
      margin-bottom: 50px;
    }

  }
  /* EOF desktop view */


  #container img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
  }

  #container .taxonomy {
    font-size: var(--font-taxonomy);
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  #container h3 {
    margin-bottom: 30px;
  }
  #container .lead {
    font-size: var(--font-listing-description);
    line-height: 23px;
  }

/* EOF MAIN CONTAINER */



/* FOOTER */
#footer .footer-container {
  max-width: var(--content-width);
  text-align: left;
  margin: 0 auto;
  padding: 40px var(--content-side-padding);
}
#footer .footer-container * {
  color: var(--white) !important;
}


#footer .footer-container .divide{
  display: grid;
}


/* DEFAULT mobile view */

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 20px;
}

/* EOF DEFAULT mobile view */


/* tablet view */
@media only screen and (min-width: 600px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
  }

  .footer-newsletter {
    grid-area: 1 / 1 / 2 / 4;
  }

  .footer-ravazine {
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer-association {
    grid-area: 2 / 2 / 3 / 3;
  }

  .footer-others {
    grid-area: 2 / 3 / 3 / 4;
  }
}
/* EOF tablet view */


/* desktop view */
@media only screen and (min-width: 900px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
  }

  .footer-newsletter {
    grid-area: 1 / 1 / 2 / 3;
  }

  .footer-ravazine {
    grid-area: 1 / 3 / 2 / 4;
  }

  .footer-association {
    grid-area: 1 / 4 / 2 / 5;
  }

  .footer-others {
    grid-area: 1 / 5 / 2 / 6;
  }
}
/* EOF desktop view */


.footer-newsletter {
  max-width: 70%;
}
.footer-newsletter span:first-child {
  text-transform: uppercase;
  font-size: var(--font-small);
  line-height: calc(2 * var(--font-small));
}


.footer-ravazine, .footer-association, .footer-others, .copywrits {
  text-transform: uppercase;
  font-size: var(--font-small);
  line-height: calc(2 * var(--font-small));
  letter-spacing: 1px;
}
.footer-ravazine div:first-child, .footer-association div:first-child, .footer-others div:first-child {
  font-weight: bold;
}

.copywrits {
  text-align: center;
  font-size: 9px;
  margin-top: 40px;
}


/* EOF FOOTER */
